* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.btn {
    width:130px;
    height:40px;
    font-size:1.1em;
    cursor: pointer;
    color:rgb(0, 0, 0);
    background:#c81c1c;
    transition: 0.4s ease;
}
.btn:hover {
    border-radius: 5px;
    transform:translateY(-10px);
    box-shadow: 0 7px 0 -2px #f85959,
    0 15px 0 -4px #39a2db,
    0 16px 10px -3px #39a2db;
}